@media screen and (max-width: 667px){
    .Nav-bar{
        flex-direction: column;
        
    }
    .Nav-option{
        flex-direction: column;
        margin-right: 300px; 
        gap: 10px;
    }
    body{
    max-width: 660px;
          }
          .Explore p{
            flex-direction: column;
             
             }
             .input{
                flex-direction: column;
                margin-left: 100px;
                margin-bottom: 220px;
             }




          .mountain{
           flex-direction: column;
        }
        .mountain img{
            margin-top: 20px;
        }
        /* Collage image */
        .Collage{
            flex-direction: column;
        }
        .row{
            flex-direction: column;
          }
       /* Hotel-location */

       .Hotel-location{
        flex-direction: column;
    }

    .Banner-2{
        flex-direction: column;
        
    }
    
    .last-img{
        width: 200px;
        height: 400px;
    }








        }